meta-coins/
horse-bet/build/
horse-bet/app/.truffle-solidity-loader/
horse-bet/app/node_modules
**/.DS_Store
tooling/tools
tooling/*_tools
tooling/*.gz
tooling/*.log
tooling/*.box
tooling/.vagrant
metamask/