h2{
  color: grey;
  padding-left: 10px;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  border-radius: 10px 10px 0px 0px;
  padding-top: 10px;
  height: 62px;
  position: relative;
  top: 17px;
}

h3{
  color: white;
background-color: grey;
padding-left: 10px;
border-style: solid;
border-width: 2px px 0px px;
border-radius: 10px 10px 0px 0px;
padding-top: 10px;
padding-bottom: 15px;
margin-bottom: 0px;
font-size: medium;
border-color: grey;
}

.contenuFonctionnalite {
  padding-left: 40px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-radius: 0px 0px 10px 10px;
  border-color: grey;
  padding-bottom: 10px;
  padding-top: 10px;
}

#zoneChevauxParticipants select{
}

#zoneChevauxParticipants label{
  vertical-align: top;
}

.erreur, .ok{
  text-align: center;
  font-weight: bold;
}

.erreur{
  color: red;
}

.ok{
  color: green;
}
