<h2>Espace Oracle (admin)</h2>
<wallet></wallet>
<br/>
<div id="actionOwner">
  <form id="oracleForm" [formGroup]="oracleForm">
    <h3>Créer une course :</h3>
    <br/>
    <div id="zoneChevauxParticipants">
      <label for="chevauxParticipants">Chevaux participants : </label>
      <select formControlName="chevauxParticipants" id="chevauxParticipants" multiple>
        <option *ngFor="let cheval of chevauxExistants" [value]="cheval.id">{{cheval.name}}</option>
      </select>
    </div>
    <br/>
    <button (click)="creerCourse(oracleForm.value)" type="button" type="submit" [disabled]="!oracleForm.valid" class="btn btn-primary">Créer la course </button>

    <br/><br/>
    <h3>Interdire les paris : </h3>
    <div>
      <label for="idCourse">Identifiant de la course : </label>
      <input name="idCourse" id="idCourse" type="text"/>
    </div>
    <br/>
    <button type="button">Bloquer les paris </button>

    <h3>Terminer la course :</h3>
    <br/>
    <div>
      <label for="idFinCourse">Identifiant de la course : </label>
      <input name="idFinCourse" id="idFinCourse" type="text"/>
    </div>
    <br/><br/>
    <button type="button">Fin de la course </button>
    <br/>
  </form>
</div>
